<div class="row">
  <div class="col-md-12">
    <h2>{{session.user.userName}}
      (
      {{session.user.email}}
      ) History
    </h2>
    <hr />
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <td ><b>Login Date/Time</b></td>
            <td><b>Client Information</b></td>
          </tr>
        </thead>
        <tbody>
          {{#each session.user.loginHistory}}
            <tr>
              <td>
                {{dateTime}}
              </td>
              <td>
                {{userAgent}}
              </td>

            </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
    {{#unless categories}}
      <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
      </div>
    {{/unless}}

  </div>
</div>